{% extends 'blog/base.html' %}


{% block title %}{{ SITE_CONFIGS.Name }} - 所有归档{% endblock %}

{% block l_main %}
    <div class="l_main">
        <article id="archive-page" class="post article white-box">
            <section class="archive">
                {% for year in year_list %}
                    {% if article_list.object_list %}
                        <div class="archive-item archive-year mark"><h2>{{ year.year }}</h2>
                            <hr>
                        </div>
                    {% endif %}
                    {% for article in article_list.object_list %}
                        {% if year.year == article.public_time.year %}
                            <div class="archive-item archive-post mark">
                                <a href="{{ article.get_absolute_url }}">
                                    <time>{{ article.public_time | date:'m-d' }}</time>
                                    <span class="title">{{ article.title }}{% if not article.export %}(游客不可见){% endif %}</span>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                {% empty %}
                    官方吐槽，作者真懒，啥都没写!
                {% endfor %}
            </section>
        </article>

        <br>

        <div class="prev-next">
            <div class="prev-next">
                {% if article_list.has_previous %}
                    <a class="prev" rel="prev" href="?{{ article_list.previous_page_number.querystring }}"><section class="post prev"><i class="fas fa-chevron-left" aria-hidden="true"></i>&nbsp;上一页&nbsp;</section></a>
                {% endif %}
                <p class="current">{{ article_list.number }} / {{ total_pages }}</p>
                {% if article_list.has_next %}
                    <a class="next" rel="next" href="?{{ article_list.next_page_number.querystring }}"><section class="post next">&nbsp;下一页&nbsp;<i class="fas fa-chevron-right" aria-hidden="true"></i></section></a>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
