{% extends 'blog/base.html' %}


{% block title %}{{ SITE_CONFIGS.Name }} - {{ article.title }}{% endblock %}

{% block l_main %}
<div class="l_main">
    <!-- 正文部分 -->
    <article id="post" class="post white-box article-type-post" itemscope="" itemprop="blogPost">
        <!-- 标题 -->
        <section class="meta">
            <div class="meta" id="header-meta">
                <h1 class="title">{{ article.title }}{% if not export %}(游客不可见){% endif %}</h1>
                <div class="new-meta-box">
                    <div class="new-meta-item author"><a href="/blog"><i class="fas fa-user" aria-hidden="true"></i> {{ article.author }}</a></div>
                    <div class="new-meta-item date"><a class="notlink"><i class="fas fa-clock" aria-hidden="true"></i>发布: {{ article.public_time | date:'Y-m-d H:i:s' }}</a></div>
                    <div class="new-meta-item date"><a class="notlink"><i class="fas fa-clock" aria-hidden="true"></i>修改: {{ article.modify_time | date:'Y-m-d H:i:s' }}</a></div>
                    <div class="new-meta-item browse busuanzi"><a class="notlink"><i class="fas fa-eye" aria-hidden="true"></i> <span id="busuanzi_value_page_pv"> 阅读用户：{{ visitor }} </span></a></div>
                    <div class="new-meta-item browse busuanzi"><a class="notlink"><i class="fas fa-eye" aria-hidden="true"></i> <span id="busuanzi_value_page_pv"> 阅读次数：{{ total_read }} </span></a></div>
                </div>
                <hr>
            </div>
        </section>
        <!-- 正文 -->
        <section class="article typo">
            <div class="article-entry" itemprop="articleBody">{{ content | safe }}</div>

            <section class="meta" id="footer-meta">
                <hr>
                <div class="new-meta-box">
                    <div class="new-meta-item meta-tags"><a class="tag" href="{% url 'blog:category' category.name %}"><i class="fas fa-book" aria-hidden="true"></i>&nbsp;{{ category.name }}</a></div>
                    {% for tag in article.tags.all %}
                    <div class="new-meta-item meta-tags"><a class="tag" href="{% url 'blog:tag' tag.name %}"><i class="fas fa-tag" aria-hidden="true"></i>&nbsp;{{ tag.name }}</a></div>
                    {% endfor %}
                    <div class="new-meta-item date" itemprop="dateUpdated" datetime="2017-12-25T00:00:00+08:00">
                        <a class="notlink"><i class="fas fa-pencil-alt" aria-hidden="true"></i> {{ article.modify_time | date:'Y-m-d H:i:s' }}</a>
                    </div>
                </div>
            </section>

            <div class="prev-next">
                {% if pri_article %}
                <section class="prev">
                    <span class="art-item-left">
                        <h4><a href="{{ pri_article.get_absolute_url }}" rel="prev" title="{{ pri_article.title }}"><i class="fas fa-chevron-left" aria-hidden="true"></i>&nbsp; {{ pri_article.title }}</a></h4>
                    </span>
                </section>
                {% endif %}
                {% if next_article %}
                <section class="next">
                    <span class="art-item-right" aria-hidden="true">
                        <h4><a href="{{ next_article.get_absolute_url }}" rel="prev" title="{{ next_article.title }}">{{ next_article.title }}&nbsp;<i class="fas fa-chevron-right" aria-hidden="true"></i></a></h4>
                    </span>
                </section>
                {% endif %}
            </div>
        </section>
    </article>
    <br>


    <!-- 评论区 -->
    <article class="post white-box comments">
        <section class="article typo">
            <h4><i class="fas fa-comments fa-fw" aria-hidden="true"></i>&nbsp;评论</h4>

            <!-- Gitalk 评论 start  -->
            <!-- Link Gitalk 的支持文件  -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
            <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

            <div id="gitalk-container"></div>
            <script type="text/javascript">
                var gitalk = new Gitalk({
                    // gitalk的主要参数
                    clientID: '{{ SITE_CONFIGS.Gitalk.clientID }}',
                    clientSecret: '{{ SITE_CONFIGS.Gitalk.clientSecret }}',
                    repo: '{{ SITE_CONFIGS.Gitalk.repo }}',
                    owner: '{{ SITE_CONFIGS.Gitalk.owner }}',
                    admin: ['{{ SITE_CONFIGS.Gitalk.admin }}'],
                    id: "{{ article.get_absolute_url }}",
                    distractionFreeMode: false
                });gitalk.render('gitalk-container');
            </script>
            <!-- Gitalk end -->

        </section>
    </article>

    <script>window.subData={title:"{{ article.title }}",tools:!0}</script>

</div>
{% endblock %}
