{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}{{ SITE_CONFIGS.Name }}'s Blog{% endblock %}

{% block l_main %}
<div class="l_main">
    <section class="post-list">
        {% for article in all_articles.object_list %}
        <div class="post-wrapper">
            <article class="post reveal" data-sr-id="0" style="visibility: visible; opacity: 1; transition: all 0.25s ease 0s, opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;">
                <section class="meta">
                    <div class="meta" id="header-meta">
                        <h2 class="title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                        <div class="new-meta-box">
                            <div class="new-meta-item author"><a href="/blog"><i class="fas fa-user" aria-hidden="true"></i>{{ article.author }}</a></div>
                            <div class="new-meta-item date"><a class="notlink"><i class="fas fa-clock" aria-hidden="true"></i>{{ article.public_time |date:'Y-m-d' }}</a></div>

                            {% filter_count article as read_count%}
                            <div class="new-meta-item browse busuanzi"><a class="notlink"><i class="fas fa-eye" aria-hidden="true"></i>阅读用户：{{ read_count.visitor }}</a></div>
                            <div class="new-meta-item browse busuanzi"><a class="notlink"><i class="fas fa-eye" aria-hidden="true"></i>阅读次数：{{ read_count.total_read }}</a></div>
                        </div>
                        <hr>
                    </div>
                </section>

                <section class="article typo">
                    {{ article.summary | safe }}
                    <div class="readmore"><a href="{{ article.get_absolute_url }}" class="flat-box waves-effect waves-block"><i class="fas fa-book-open fa-fw" aria-hidden="true"></i> 阅读全文</a></div>
                    <div class="full-width auto-padding tags">
                        {% for tag in article.tags.all %}
                        <a href="{% url 'blog:tag' tag.name %}"><i class="fas fa-tag fa-fw"></i>{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </section>
            </article>
        </div>
        {% endfor %}
    </section>
    <br>

    <div class="prev-next">
        <div class="prev-next">
            {% if all_articles.has_previous %}
                <a class="prev" rel="prev" href="?{{ all_articles.previous_page_number.querystring }}"><section class="post prev"><i class="fas fa-chevron-left" aria-hidden="true"></i>&nbsp;上一页&nbsp;</section></a>
            {% endif %}
            <p class="current">{{ all_articles.number }} / {{ total_pages }}</p>
            {% if all_articles.has_next %}
                <a class="next" rel="next" href="?{{ all_articles.next_page_number.querystring }}"><section class="post next">&nbsp;下一页&nbsp;<i class="fas fa-chevron-right" aria-hidden="true"></i></section></a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
