{% extends 'blog/base.html' %}


{% block title %}{{ SITE_CONFIGS.Name }} - 我的项目{% endblock %}

{% block l_main %}
    <div class="l_main">
        <article id="archive-page" class="post article white-box">
            <section class="archive">
                {% for year in year_list %}
                    <div class="archive-item archive-year mark"><h2>{{ year.year }}</h2><hr></div>
                    {% for article in article_list %}
                        {% if year.year == article.public_time.year %}
                            <div class="archive-item archive-post mark">
                                <a href="{{ article.get_absolute_url }}">
                                    <time>{{ article.public_time | date:'m-d' }}</time>
                                    <span class="title">{{ article.title }}</span>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                {% empty %}
                    官方吐槽，作者真懒，啥都没写!
                {% endfor %}
            </section>
        </article>
    </div>


{% endblock %}
